graphs {
  graph_id: 1875642181
  priority: 0

  engines {
    id: 958
    engine_name: "video_decode"
    side: HOST
    thread_num: 1
    so_name: "./libHost.so"
    ai_config {

      items {
        name: "channel1"
        value: "${template_channel1}"
      }

      items {
        name: "channel2"
        value: "${template_channel2}"
      }
    }
  }

  engines {
    id: 244
    engine_name: "peppapig_detection"
    side: DEVICE
    thread_num: 1
    so_name: "./libDevice.so"
    ai_config {

      items {
        name: "model_path"
        value: "../../script/peppapig_detection.om"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }
    }
  }

  engines {
    id: 601
    engine_name: "peppapig_detection_post_process"
    side: HOST
    thread_num: 1
    so_name: "./libHost.so"
    ai_config {

      items {
        name: "output_name"
        value: "prob"
      }

      items {
        name: "Confidence"
        value: "0.9"
      }

      items {
        name: "PresenterIp"
        value: "${template_presenter_ip}"
      }

      items {
        name: "PresenterPort"
        value: "${template_presenter_port}"
      }

      items {
        name: "ChannelName"
        value: "${template_app_name}"
      }

    }
  }

  connects {
    src_engine_id: 958
    src_port_id: 0
    target_engine_id: 244
    target_port_id: 0
  }

  connects {
    src_engine_id: 244
    src_port_id: 0
    target_engine_id: 601
    target_port_id: 0
  }
}			
